.carrossel__titulo {
    color: #BA0C0C;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
}

.carrossel {
    min-height: 400px; 
    
 }


 .card__descrição {
    display: flex;
    justify-content: space-between;
 }

 .card__botões {
    display: flex;
    justify-content: space-between;
 }

 .botões {
    display: flex;
 }

 .card {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1em;
    padding: 1em;
 }

 .descrição__titulo {
    color:#BA0C0C;
    font-weight: 700;
 }

 .descrição__texto {
    color: black;
    font-size: 14px;
 }

 .botões__item {
    margin: 0 0.5em;
 }
 
 .botões__ancora {
    background-color:#BA0C0C;
    padding: 1em 2.2em;
    margin-top: 1em;
    color: white;
    font-weight: 700;
    text-decoration: none;
 }