.cabecalho_menu-hamburguer{
    width: 40px;
    height: 40px;
    background-image: url("../img/Frame\ 143.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container--imagem{
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 9999;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: #BA0C0C;
}

.lista-menu__titulo {
    color: black;
    font-weight: 700;
}

.lista-menu__link {
    color: #000000;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opções {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__titulo {
        font-family: var(--fonte-secundario);
        font-size: 30px;
        font-weight: 400;
        display: block;
    }

.opções {
    display: flex;
}

.opções__item {
padding: 0 1em;
text-transform: uppercase;
}

.opções__link{
    text-decoration: none;
    color: #000000;
}

.container__imagem-some{
    display: none;
}

.cabecalho_menu-hamburguer{
    display: none;
}

.opções__botão:checked ~ .lista-menu {
    display: block;
    width: auto;
}

.opções__botão {
    display: none;
}
}